<!--<div>태그는 웹 페이지의 레이아웃(전체적인 틀)을 만들 때 사용합니다. 웹 페이지의 영역을 논리적으로 구분한다고 생각하면 될것 같다.-->
{{#commentDtos}}
    <div class="comment">
        <strong>{{nickname}}</strong>: {{body}}
    </div>
{{/commentDtos}}